.current-profile-img {
  border: solid black 3px;
}

.delete-button {
  position: absolute;
  top: 2px;
  right: 2px;
  color: crimson;
  cursor: pointer;
}

.delete-button:hover{
  color: #aa0000;
}

.edit-image-wrapper {
  background-color: #aeaeae;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.edit-image-wrapper img {
  height: 75px;
  width: auto;
}

.sortable-placeholder {
  background-color: #eee;
}
